h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: lightgreen;
    justify-content:flex-start;
  }

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: tomato;
  font-weight: bold;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: tomato; 
}