@import "headers.css";
@import "footer.css";
@import "image.css";

body {
    background: tomato;
    width: auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
    display: block;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 300px 200px 400px 400px 100px 1fr;
    grid-template-areas:
        "nv"
        "hd"
        "sd"
        "main"
        "im"
        "ft";
    border: 5px solid wheat;
}

.box {
    border: 5px solid wheat;
    background: pink;
}

.navbar {
    font-size: 10px;
    grid-area: nv;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: tomato;
}

.header {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 10vw;
    color: tomato;
    grid-area: hd;
}

.sidebar {
    grid-area: sd;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.content {
    grid-area: main;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: tomato;
    font-size: 12px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.button {
    background-color: lightskyblue;
    border: 2px white;
    color: pink;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#learn {
    background: wheat;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: tomato;
    justify-content: left;
}


@media (min-width: 600px) and (max-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: 200px 201px;
        grid-template-rows: 120px 150px 500px 100px;
        grid-template-areas:
          "nv nv nv nv nv nv nv nv"
          "hd hd hd hd hd hd hd hd"
          "main main main sd sd im im im"
          "ft ft ft ft ft ft ft ft";
    }
}
